.join-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.text-heading {
  color: white;
  font-size: 50px;
  margin: 30px;
}

.create-room {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
}

.create-room:focus {
  outline: 2px solid white;
}

.btn {
  color: rgb(231, 0, 42);
  border: none;
  border: 3px solid rgb(231, 0, 8);
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.btn:hover {
  background-color: rgb(0, 231, 231);
  color: white;
}

.warning {
  color: orange;
  font-weight: 500;
}
